* {
  padding: 5px;
}

.logo {
  font-family: "Bebas Neue";
  font-size: 35px;
  padding-left: 0;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  font-family: "Open Sans";
  font-weight: 700;
}

body, input, button {
  font-family: "Open Sans";
  font-weight: 300;
}

.all {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

.menu.button {
  padding-left: 0;
}

.menu.button>a:hover {
  border: 1px solid black;
  outline: none;
}

input, button {
  border: 1px solid #797979;
}

button {
  font-weight: 800;
}